mixin playbook(pb)
    input(type="radio" id=pb name="playbook" value=pb onclick="BCC.playbookChange()")
    label(for=pb) #{pb}

mixin heritage(heritage)
    input(type="radio" id=heritage name="playbook" value=heritage)
    label(for=heritage) #{heritage}

mixin background(background)
    input(type="radio" id=background name="background" value=background)
    label(for=background) #{background}

include /src/data.pug

doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

html
    head
        title Blades in the Dark Character Creator
        meta(charset="utf-8")
        //- link(href=require('/src/style/index.scss') rel='stylesheet')
    body

        h1 Blades in The Dark Character Creation 

        form
            p Playbook
            +playbook("Cutter")
            +playbook("Hound")
            +playbook("Leech")
            +playbook("Lurk")
            +playbook("Slide")
            +playbook("Spider")
            +playbook("Whisper")

            p Heritage
            each h in DATA.HERITAGES
                +heritage(h)

            p Background
            each b in DATA.BACKGROUNDS
                +background(b)

            p Dots
            p Special
            p Friend/Rival
            p Vice
            p Info

            br

            input(type="submit" value="Output")

        script(src=require("/src/main.js"))
